#navbarDropdownMenuLink{
    margin-left: 850px;
}
#menu{
    margin-left: 800px;
}
#brand{
    color: #38A953;
}
#navv{
    background-color: #353A40;
}
#kartaba{
    width: 190px;
}
#spadri{
    width: 190px;
}
#tacos{
    width: 190px;
}
.headd{
background-color: #353A40;
display: flex;
}
#coeur1{
    border-radius: 50%;
}
#coeur2{
    border-radius: 50%;
}
#coeur3{
    border-radius: 50%;
}
#X1{
    border-radius: 50%;
}
#X2{
    border-radius: 50%;
}
#X3{
    border-radius: 50%;
}
#button1{
    border-radius: 50%;
    background-color: #36B246;
    height: 30px;
}
#button2{
    border-radius: 50%;
    background-color: #36B246;
    height: 30px;
}
#button3{
    border-radius: 50%;
    background-color: #36B246;
    height: 30px;
}
#button4{
    border-radius: 50%;
    background-color: #36B246;
    height: 30px;
}
#button5{
    border-radius: 50%;
    background-color: #36B246;
    height: 30px;
}
#button6{
    border-radius: 50%;
    background-color: #36B246;
    height: 30px;
}
#shopping{
    color: white;
}
#somm{
    color: white;
}
#compteur{
    margin-left: 8px;
}
#compteur1{
    margin-left: 8px; 
}
#compteur2{
    margin-left: 8px;
}
.col1{
    display: flex;
}
.col2{
display: flex;
}
.col3{
display: flex;
}
.cola{
margin-left: 120px;
}
.colb{
margin-left: 120px;
}
.colc{
margin-left: 120px;
}
#prix1{
    margin-left: 40px;
}
#prix2{
    margin-left: 40px;
}
#prix3{
    margin-left: 40px;
}
#spadri{
    margin-left: 100px;
}
#tacos{
    margin-left: 100px;
}
#kartaba{
    margin-left: 100px;
}